.teacher-form-main-container {
  background-color: white;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  border: 1px solid #ccc;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}