.details-card-main-container {
  background-color: white;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 32px;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.details-card-cover-post-container {
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.card-profile-img-container {
  width: 54px;
  height: 54px;
  position: relative
}

.author-card-profile-flag-picture {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 18px;
  width: 18px;
  border: 2px solid white;
  background: white;
  border-radius: 50%;
}

.card-profile-img-container img {
  border-radius: 50%;
}

.author-card-job-title {
  font-weight: 400;
  color: #747474;
}

.likes-icon-container,
.comments-icon-container {
  cursor: pointer;
}

.post-content {
  line-height: 1.6;
  color: #333;
  word-wrap: break-word;
}

.post-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}