.custom-input:focus {
  border-color: green !important;
  box-shadow: none !important;
}

.custom-input:global(.is-invalid) {
  border-color: #dc3545 !important;
  box-shadow: none !important;
}

.mantine-custom-input {
  height: 38px !important;
  border-radius: .375rem !important;
}

.mantine-custom-placeholder {
  color: #6c757d !important;
  font-size: 16px !important;
}

.mantine-custom-input:focus {
  border-color: green !important;
  box-shadow: none !important;
}

.dropzone-rect {
  width: 100%;
  height: 100px;
  border-radius: 12px;
  border: 2px dashed #ccc;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: all 0.2s ease;
}

.dropzone-rect.active {
  border-color: green;
  background-color: rgba(0, 128, 0, 0.05);
}

.dropzone-rect.has-file {
  border-style: solid;
  border-color: #28a745;
}

.dropzone-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.dropzone-rect:hover .dropzone-overlay,
.dropzone-rect.active .dropzone-overlay {
  opacity: 1;
}

.certification-preview-card {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.text-container {
  flex: 1;
  min-width: 0;
}

.certification-preview-card p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-btn {
  position: absolute;
  font-size: 20px;
  color: rgb(100, 100, 100);
  cursor: pointer;
  top: 0;
  right: 0;
  transform: translate(-10%, -30%);
}