.connection-request-img-container {
  flex-shrink: 0;
  max-width: 100px;
}

.contact-email {
  font-size: 12px;
}

.contact-profile-img-container {
  width: 45px;
  height: 45px;
  position: relative
}

.contact-profile-img-container img {
  border-radius: 50%;
}

.contact-flag-picture {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 18px;
  width: 18px;
  border: 2px solid white;
  background: white;
  border-radius: 50%;
}