.editor-wrapper :global(.ql-container) {
  min-height: 250px;
  font-size: 18px;
  font-style: normal;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.editor-wrapper :global(.ql-toolbar) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fcfcfc;
}