.add-meeting-btn {
  border-radius: 50%;
  display: flex;  
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #198754;
  padding-bottom: 2px;
  width: 32px;
  height: 32px;
}