.teachers-search-main-container {
  padding: 40px 0;
}

.teachers-search-inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 24px;
}

@media (min-width: 992px) {
  .teachers-search-inputs-container {
    flex-direction: row;
  }
}
