.custom-input:focus {
  border-color: green !important;
  box-shadow: none !important;
}

.custom-input:global(.is-invalid) {
  border-color: #dc3545 !important;
  box-shadow: none !important;
}

.name-content {
  color: #555
}