.custom-input:focus {
  border-color: green !important;
  box-shadow: none !important;
}

.dropzone-rect {
  width: 100%;
  height: 100px;
  border-radius: 12px;
  border: 2px dashed #ccc;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: all 0.2s ease;
}

.dropzone-rect.active {
  border-color: green;
  background-color: rgba(0, 128, 0, 0.05);
}

.dropzone-rect.has-file {
  border-style: solid;
  border-color: #28a745;
}

.dropzone-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.dropzone-rect:hover .dropzone-overlay,
.dropzone-rect.active .dropzone-overlay {
  opacity: 1;
}

.file-name {
  max-width: 400px
}

.loading-url-spinner {
  position: absolute;
  right: 12px;
  top: 12px;
}

.preview-container {
  position: relative;
}

.remove-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  transition: all 0.2s ease-in-out;
  padding-bottom: 4px;
}

.remove-btn:hover {
  background-color: red;
  color: white;
  border-color: red;
}

.cover-preview {
  width: 100%;
  object-fit: cover;
  display: block;
  max-height: 250px;
}