.swiper-wrapper-linear :global(.swiper-wrapper) {
  transition-timing-function: linear !important;
}


.swiper-wrapper-linear :global(.swiper-slide) {
  width: auto !important;
}

.flag-picture-container {
  width: 24px;
  height: 24px;
  min-width: 24px;
  border-radius: 50%;
  border: 1px solid black;
}