.main-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar-list {
  list-style: none;
  padding: 1rem 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 0px;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: #e9ecef;
}

.label {
  white-space: nowrap;
}

.right-main-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.topbar {
  height: 70px;
  border-bottom: 1px solid #dee2e6;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #e8e8e8;
  padding: 50px 0;
}