.community-news-post-content {
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  line-height: 1.6;
}

.community-post-cover-container {
  max-height: 200px;
}

.read-more-btn {
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
}

.read-more-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left bottom;
  transition: transform 0.4s ease-in-out;
}

.read-more-btn:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}