.custom-bento-container {
  background-color: white;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.custom-bento-container:hover {
  transform: scale(1.008);
}

.community-news-container {
  background-color: #e86134;
}