.confirmed-languages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 12px;
  min-height: 50px;
}

.no-languages-paragraph {
  color: #ccc;
}

.single-language-tag {
  background-color: rgba(0, 128, 0, 0.1);
  color: black;
  padding: 2px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid rgba(0, 128, 0, 0.2)
}

.single-language-tag-level {
  background-color: green;
  padding: 0 4px;
  border-radius: 6px;
  border: 1px solid rgba(0, 128, 0, 0.2);
  font-size: 12px;
}

.remove-tag-close-button {
  color: #ccc;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.remove-tag-close-button:hover {
  color: black;
}