.map-container {
  width: 100%;
  height: 400px;
  border-radius: 34px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  position: relative;
}

@media (min-width: 992px) {
  .map-container {
    height: 600px;
  }
}

.avatar-container {
  position: absolute;
  top: -60px;
  left: -26px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ea4335;
  cursor: pointer;
  background-color: white;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.custom-popover {
  position: absolute;
  top: -230px;
  left: -50%;
  transform: translateX(-50%);
  min-width: 300px;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, .3);
  z-index: 1000;
}

.custom-popover-header {
  cursor: pointer;
}

.custom-popover-header:hover {
  text-decoration: underline;
}

.map-info-banner {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  text-align: center;
  width: 90%
}